* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    // scroll-behavior: smooth; 
}

body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100vh;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}



@import "./components/_navbar.scss";
@import "./layout/_hero.scss";
@import "./layout/_intro_overlay.scss";
@import "./components/_common_components.scss";
@import "./components/_side_nav.scss";
@import "./layout/_about.scss";
@import "./layout/_new_era.scss";
@import "./layout/_center.scss";
@import "./layout/_history.scss";
@import "./layout/_footer.scss";