@import "../abstracts/_mixins.scss";
@import "../abstracts/_variables.scss";

.footer_section {
    background-color: $bs-footer-black;
    color: #fff;
    padding: 30px 5% 10px;
    scroll-snap-align: end;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'sequel', sans-serif;


    .footer__sub_top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &--logo img {
            width: 160px;
            filter: brightness(0) invert(1);
        }

        &--right {
            &_title {
                font-family: 'sequel', sans-serif;
                font-size: 24px;
                margin-bottom: 25px;
                color: #ccc;
            }

            .forms {
                display: flex;
                gap: 15px;

                input {
                    background: #222;
                    border: none;
                    padding: 0 20px;
                    height: 50px;
                    width: 360px;
                    color: #fff;
                    outline: none;

                    &::placeholder {
                        color: #555;
                    }
                }

                .know__more--button_wrapper {
                    @include all_button;
                    width: 30%;
                    padding: 2%;
                }
            }

            .checkbox {
                margin-top: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: #777;
                font-size: 14px;

                input {
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    accent-color: #fff;
                }

                p {
                    margin: 0;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                }

                a {
                    color: #777;
                    text-decoration: underline;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                }
            }
        }
    }

    .footer__sub_mid {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;

        .footer__middle--title {
            font-size: 24px;
            color: $bs-footer-title;
            margin-bottom: 10px;
            font-family: 'Inter', sans-serif;

        }

        &>div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 2%;
        }

        .footer__middle--link {
            text-decoration: none;
            color: $bs-footer-title;
            font-size: 16px;
            letter-spacing: 1px;
            font-family: roboto;
            transition: color 0.3s;
            line-height: 1.5;
            font-weight: 500;


        }
    }

    .footer__sub_bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .footer__bottom--left {
            display: flex;
            gap: 40px;
            color: $bs-footer-title;
            font-size: 13px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;

            div {
                margin: 0;
            }

            a {
                text-decoration: none;
                color: $bs-footer-title !important;
                transition: color 0.3s ease;
                letter-spacing: 2px;
                &:hover {
                    color: #fff !important;
                }
            }
        }

        .footer__bottom--right {
            display: flex;
            gap: 25px;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                opacity: 0.6;
                transition: opacity 0.3s ease;
                color: $bs-footer-title;

                &:hover {
                    opacity: 1;
                }

                svg {
                    width: 17px;
                    height: 17px;
                    fill: #fff;
                }
            }
        }
    }
}