.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bs-black;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease-in-out;

    .intro-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        transition: all 1s ease-in-out;

        img {
            width: 100%;
            height: auto;
        }
    }

    &.animate {
        background-color: transparent;
        pointer-events: none;
        position: fixed;


        .intro-logo {
            top: 40px;
            transform: translate(-50%, 0);
            width: 200px;
        }
    }
}