@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";

.newera__section {
    background-color: $white;
    width: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    height: 200vh;
    position: relative;
    padding: 0;
}

.newera__snap-point {
    position: absolute;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    pointer-events: none;
}

.newera__sticky-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
}

.newera__header {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2rem;

    .newera__title--welcome {
        font-size: 24px;
        font-weight: 600;
        font-family: $font-primary;
        letter-spacing: 0.2em;
        margin-bottom: 2rem;
        color: $black;
    }

    .newera__title--img {
        width: 160px;
        height: auto;
    }
}

.newera__content-container {
    flex: 1;
    position: relative;
    @include div_center;
    width: 100%;
}

.newera__step {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    text-align: center;
    transition: transform 1s ease-in-out;
    pointer-events: none;

    &.active {
        transform: translate(-50%, -50%) !important;
        pointer-events: auto;
    }

    &.step-1 {
        transform: translate(-50%, -150vh);
    }

    &.step-2 {
        transform: translate(-50%, 150vh);
    }
}

.newera__main-title {
    font-size: 40px;
    font-family: $font-primary;
    font-weight: 500;
    color: $black;
    letter-spacing: -0.02em;
}

.newera__sub-text {
    font-size: 16px;
    font-family: $font-primary;
    font-weight: 500;
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newera__footer {
    width: 100%;
    height: 35vh;
    overflow-x: hidden;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5vh;

    .newera__scroll {
        display: flex;
        gap: 1.2rem;
        align-items: end;
        justify-content: flex-start;
        width: 100%;
        height: 35vh;
        padding: 0 4rem;
        overflow-x: visible;
        animation: scroll-auto 15s linear infinite;

        &::-webkit-scrollbar {
            display: none;
        }

        img {
            height: 60%;
            width: 250px;
            object-fit: cover;
            flex-shrink: 0;
            transition: transform 0.4s ease-in-out;

            &:nth-child(even) {
                height: 80%;
                width: 250px;
            }
        }
    }
}

@keyframes scroll-auto {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}