@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";

.newera__section {
    background-color: $bs-white;
    scroll-snap-align: start;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;

    .newera__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
        text-align: center;

        &--welcome {
            font-size: 24px;
            font-weight: 600;
            font-family: sequel, sans-serif;
            letter-spacing: 0.2em;
            margin-bottom: 2rem;
            color: $bs-black;
        }

        &--img {
            width: 160px;
            height: auto;
        }
    }

    .newera__content {
        font-size: 40px;
        font-family: sequel, sans-serif;
        font-weight: 500;
        color: $bs-black;
        text-align: center;
        letter-spacing: -0.02em;
        margin-bottom: 4%;
    }

    .newera__scroll {
        display: flex;
        gap: 1.2rem;
        align-items: end;
        justify-content: flex-start;
        width: 100%;
        height: 35vh;
        padding: 0 4rem;
        overflow-x: visible;
        animation: scroll-auto 15s linear infinite;



        &::-webkit-scrollbar {
            display: none;
        }

        img {
            height: 60%;
            width: 250px;
            object-fit: cover;
            flex-shrink: 0;
            transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);


            &:nth-child(even) {
                height: 80%;
                width: 250px;
            }
        }
    }
}

@keyframes scroll-auto {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}