@import "../abstracts/variables";

.side-nav {
    position: fixed;
    right: 34px;
    bottom: 20%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    gap: 05px;
    z-index: 100;

    &__item {
        width: 2px;
        height: 30px;
        background-color: rgba($white, 0.15);
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        border-radius: 0;

        &:hover {
            background-color: rgba($white, 0.3);
        }

        &.active {
            background-color: $white;
            height: 25px;
            width: 3px;
        }
    }
}