.side-nav {
    position: fixed;
    right: 34px;
    bottom: 20%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    gap: 05px;
    z-index: 100;

    &__item {
        width: 2px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.15);
        cursor: pointer;
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        border-radius: 0;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        &.active {
            background-color: #ffffff;
            height: 25px;
            width: 3px;
        }
    }
}

