@mixin all_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    width: 65%;
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border: 0.5px solid #fff;
    padding: 12px;
}