$font-primary: 'Sequel', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$white: #fff;
$black: #000;
$gray-600: #6c757d;
$gray-800: #343a40;
$gray-dark: #333;
$gray-muted: #777;
$gray-soft: #555;
$gray-light: #ccc;
$gray-border: #e0e0e0;
$gray-bg: #f0f0f0;
$gray-darker: #222;
$pink-light: rgb(255, 207, 206);
$gray-ash: #b0b0b0;
$gray-silver: #828282;
$bs-black: #000;
$bs-gray: $gray-600;
$bs-footer-title: #787879;
$bs-footer-black: #1E1E20;
$bs-gray-dark: $gray-800;
$bs-gray-100: #f8f9fa;
$bs-gray-200: #e9ecef;
$bs-gray-400: #ced4da;
$bs-gray-500: #adb5bd;
$bs-gray-600: #6c757d;
$bs-gray-800: #343a40;
$bs-arrow_grey: #828282;